.css-13cymwt-control, .css-13cymwt-control{
    background-color: #1b2e54 !important;
}
#react-select-3-listbox{
    background-color: #1b2e54;
    color: #001232;
}

#react-select-5-listbox{
    background-color: #1b2e54;
    color: #001232;
}
#react-select-13-listbox{
    background-color: #1b2e54;
    color: #001232;
}