.playbtn {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.playbtn svg {
  width: 60px;
  /* @include md {
    width: 80px;
  } */
}
.playbtn .text {
  font-size: 20px;
  transition: all 0.7s ease-in-out;
}
.playbtn .triangle {
  stroke-dasharray: 240;
  stroke-dashoffset: 480;
  stroke: white;
  transform: translateY(0);
  transition: all 0.7s ease-in-out;
}
.playbtn .circle {
  stroke: white;
  stroke-dasharray: 650;
  stroke-dashoffset: 1300;
  transition: all 0.5s ease-in-out;
}
.playbtn:hover .text {
  color: #d42a2a;
}
.playbtn:hover .triangle {
  stroke-dashoffset: 0;
  opacity: 1;
  stroke: #d42a2a;
  animation: trailorPlay 0.7s ease-in-out;
}
.playbtn:hover .circle {
  stroke-dashoffset: 0;
  stroke: #d42a2a;
}
