ul{
  margin-top: 24px;
}

li{
    padding: 8px;
    padding-left: 0px;
    font-size: 15px;
    font: bold;
    color: #78909C;
    
}

li:hover{
  cursor: pointer;
  color: #F48FB1;
}


.icon{
  margin-top: 4px;
  border: 2px solid #d42a2a;
  background-color: #d42a2a;
  height: 30px;
  width: 30px;
  
}

.icon:hover{
  cursor: pointer;
  background: #263238;
}



.footer-text{
    font-size: 18px;
    color: white;
}

.copyright{
  color: #78909C;
}


.footer-menu{
    position: relative;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    overflow: hidden;
    
    
}

.footer-menu p{
  position: absolute;
  font-size: 20px;
  z-index: 2;
}