.circleRating {
  background-color: black;
  border-radius: 50%;
  padding: 2px;
}

.circleRating .CircularProgressbar-text {
  font-size: 34px;
  font-weight: 700;
  fill: black;
}
.circleRating .CircularProgressbar-trail {
    stroke: transparent;
  }
